absl-py==1.4.0
aiofiles==22.1.0
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1724167852130/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1726062793322/work
aiohttp-cors==0.7.0
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
aiosqlite==0.18.0
alembic==1.16.1
altair @ file:///home/conda/feedstock_root/build_artifacts/altair-split_1734244716962/work
amply @ file:///home/conda/feedstock_root/build_artifacts/amply_1687675480808/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
anyio==3.6.2
appnope==0.1.3
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.3
black==23.12.1
bleach==6.0.0
blessed==1.20.0
blinker==1.8.2
blis==0.7.11
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
branca==0.7.1
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
cachetools==5.3.0
Cartopy==0.24.1
catalogue==2.0.10
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1696001737800/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click==8.1.7
cloudpathlib==0.18.1
cloudpickle==3.0.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
colorful==0.5.5
colorlog==6.9.0
comm==0.1.2
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1739917060572/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1706566000184/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
confection==0.1.5
contexttimer==0.3.3
contourpy==1.0.7
coptpy==7.2.4
cssutils==2.11.0
cycler==0.11.0
cymem==2.0.8
dataclasses-json==0.5.14
dataframe-image==0.2.3
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
diffusers==0.26.2
distlib==0.3.6
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
dm-tree==0.1.8
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1713930378730/work
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
executing==1.2.0
faiss-cpu==1.7.4
Farama-Notifications==0.0.4
fastembed==0.3.6
fastjsonschema==2.16.3
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1714422806336/work
Flask==2.0.1
flatbuffers==24.3.25
folium==0.15.1
fonttools==4.39.0
fqdn==1.5.1
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1715092779444/work
frozenlist==1.3.3
fsspec==2024.2.0
gast==0.5.4
geographiclib==2.0
geopy==2.4.0
ghalton==0.6.2
gitdb==4.0.11
GitPython==3.1.43
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1715527354984/work
google-api-core==2.11.0
google-auth==2.16.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.58.0
gpustat==1.0.0
GPUtil==1.4.0
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1726246132042/work
grpcio==1.63.0
gunicorn==23.0.0
gurobipy==12.0.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.28.1
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
h5py==3.11.0
holidays==0.74
hpack==4.0.0
html2image==2.0.4.3
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1711596990900/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1724778349782/work
huggingface-hub==0.27.1
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
imageio==2.34.1
imbalanced-learn==0.13.0
imblearn==0.0
importlib-metadata==7.0.1
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.2.0
jax-jumpy==1.0.0
jedi==0.18.2
Jinja2==3.1.2
jiter==0.9.0
joblib==1.2.0
json5==0.9.11
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpickle==3.0.2
jsonpointer==2.3
jsonschema==4.17.3
jsonschema-specifications @ file:///tmp/tmpk0f344m9/src
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.2
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.4.0
jupyter_server_fileid==0.8.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.20.0
keras==2.15.0
kiwisolver==1.4.4
langchain==0.0.267
langchain-community==0.3.0
langchain-core @ file:///home/conda/feedstock_root/build_artifacts/langchain-core_1726606798663/work
langchain-text-splitters @ file:///home/conda/feedstock_root/build_artifacts/langchain-text-splitters_1726389599337/work
langcodes==3.4.0
langsmith==0.0.92
language_data==1.2.0
lazy_loader==0.4
libclang==18.1.1
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1711394373090/work/libmambapy
lightgbm==4.6.0
llvmlite==0.42.0
logger==1.4
loguru==0.7.2
lxml==5.2.2
lz4==4.3.3
Mako==1.3.10
marisa-trie==1.2.0
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
marshmallow==3.22.0
matplotlib==3.10.3
matplotlib-inline==0.1.6
mdurl==0.1.2
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1705068367719/work
mistune==2.0.5
ml-dtypes==0.2.0
mmh3==4.1.0
more-itertools==10.2.0
MouseInfo==0.1.3
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack==1.0.5
multidict==6.0.4
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.8
narwhals @ file:///home/conda/feedstock_root/build_artifacts/narwhals_1741613434061/work
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
notebook==6.5.3
notebook_shim==0.2.2
npm==0.1.1
numba==0.59.1
numexpr==2.10.2
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225416355/work/dist/numpy-1.26.4-cp310-cp310-macosx_11_0_arm64.whl#sha256=14c628943f67e9c10d22faa9c1cdcbf69c3192e88f2f597d03b77a252e589567
nvidia-ml-py==11.495.46
nvm==1.0.21
oauthlib==3.2.2
onnx==1.16.2
onnxruntime==1.19.2
openai==0.27.0
openapi-schema-pydantic==1.2.4
opencensus==0.11.2
opencensus-context==0.1.3
openpyxl==3.1.2
opt-einsum==3.3.0
optional-django==0.1.0
optree==0.11.0
optuna==4.3.0
orjson @ file:///Users/runner/miniforge3/conda-bld/orjson_1723206038651/work/target/wheels/orjson-3.10.7-cp310-cp310-macosx_11_0_arm64.whl#sha256=1ae216e8bf5253d04f9929accb0e20de1d5024f20a7b29abf9c6ec68476716ec
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.12.1
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.4.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs==3.10.0
plotly==5.22.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
ply==3.11
preshed==3.0.9
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
PuLP @ file:///Users/runner/miniforge3/conda-bld/pulp_1695845611352/work
pure-eval==0.2.2
py-spy==0.3.14
pyarrow==15.0.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.54
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1696355969704/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1726601062926/work
pydantic-settings==2.5.2
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/pydantic-core_1726525022778/work
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1738346561094/work
pygame==2.3.0
PyGetWindow==0.0.9
Pygments==2.14.0
PyMsgBox==1.0.9
pyobjc-core==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-Quartz==10.1
Pyomo==6.5.0
pyparsing==3.0.9
pyperclip==1.8.2
pyproj==3.7.1
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.30
pyshp==2.3.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
PyStemmer==2.2.0.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv==0.19.0
python-json-logger==2.0.7
pytweening==1.2.0
pytz==2022.7.1
pyvis==0.3.2
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1725456214747/work
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
ray==2.22.0
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
regex==2023.12.25
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_rpds-py_1740153135/work
rsa==4.9
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1707298382103/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1707314852085/work
rubicon-objc==0.4.7
safetensors==0.4.2
scikit-image==0.23.2
scikit-learn==1.6.1
scipy==1.10.1
seaborn==0.13.2
Send2Trash==1.8.0
shapely==2.1.0
shellingham==1.5.4
simplejson==3.19.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0.post5
sklearn-compat==0.1.3
smart-open==6.3.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1726596229718/work
srsly==2.4.8
stack-data==0.6.2
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1683305739900/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1741740033449/work
streamlit-chat==0.1.1
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180540116/work
tabulate==0.9.0
tenacity==8.3.0
tensorboard==2.15.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
tensorflow-addons==0.23.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.0
tensorflow-macos==2.15.0
termcolor==2.4.0
terminado==0.17.1
thinc==8.2.5
threadpoolctl==3.1.0
tifffile==2024.5.10
tiktoken==0.9.0
tinycss2==1.2.1
tokenizers==0.19.1
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tomli==2.0.1
torch==2.1.0.dev20230308
torchaudio==2.0.0.dev20230309
torchvision==0.15.0.dev20230308
tornado==6.2
tqdm==4.66.5
traitlets==5.9.0
transformers==4.42.0
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
typeguard==2.13.3
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.14.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
tzlocal==5.2
uri-template==1.2.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
virtualenv==20.21.0
wasabi==1.1.3
watchdog @ file:///Users/runner/miniforge3/conda-bld/watchdog_1730492934985/work
wcwidth==0.2.6
weasel==0.4.1
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==3.0.4
widgetsnbextension==4.0.5
wrapt==1.14.1
xlrd==2.0.1
xyzservices==2023.10.1
y-py==0.5.9
yarl==1.8.2
ypy-websocket==0.8.2
zipp==3.17.0
zstandard==0.22.0
